* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica", Helvetica, sans-serif;
  background: #fff;
  color: gray;
  letter-spacing: 1px;
  font-weight: 100;
}

.main-section {
  margin: 1rem;
}

.header {
  color: gray;
  text-align: left;
  text-transform: uppercase;
}

.weather-sections {
  display: flex;
  justify-content: space-between;
}

.current-weather-section {
  width: 30%;
}

.current-weather {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(106, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 1rem 2rem;
  border-radius: 18px;
  color: white;
}

.temperature {
  font-size: 2em;
}

.forecast-weather-section {
  width: 65%;
}
